/* font */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 17px !important;
}

@media (max-width: 1268px) {
	html {
		font-size: 14px !important;
	}
}
@media (max-width: 768px) {
	html {
		font-size: 13px !important;
	}
}

body {
	font-family: 'Poppins', sans-serif !important;
	color: black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Jost', sans-serif !important;
}

.title {
	font-family: 'Jost', sans-serif !important;
}

.section {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar {
	z-index: 49 !important;
}

.fp-watermark {
	display: none !important;
}


h2, h3, h4, h5, h6 {
	@apply text-gray-600;
}

span {
	font-family: "Jost", sans-serif;
}

.active {
	color: rgb(255, 235, 87);
}